@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-textcolor text-base md:text-xl font-karla;
  }
  h3 {
    @apply text-white text-xl md:text-2xl lg:text-3xl font-lexend
  }
  section {
    @apply py-10 md:py-20 space-y-5 md:space-y-10;
  }
   input {
    @apply w-full border-b-2 border-dashed border-[#939393] px-2 py-2 placeholder:text-textcolor focus:border-primary focus:outline-none transition-colors duration-300;
  }
  textarea {
    @apply w-full border-b-2 border-dashed border-[#939393] px-2 py-2 placeholder:text-textcolor focus:border-primary focus:outline-none transition-colors duration-300 resize-none
  }
}

/* Infinite horizontal scroll animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-slide {
  animation: slide 12s linear infinite;
}

